NEXT_PUBLIC_SUPABASE_URL=""
NEXT_PUBLIC_SUPABASE_ANON_KEY=""
DATABASE_URL=""

** Optional seed data for development
SEED_SUPER_ADMIN_EMAIL=
SEED_SUPER_ADMIN_NAME=
SEED_ADMIN_PROGRAM_EMAIL=
SEED_ADMIN_PROGRAM_NAME=
SEED_INVITATION_CODES=false
SEED_WORKSHOP_INVITATION_CODE=
SEED_COHORT_INVITATION_CODE=